<section class="row bg-warning">
    <div class="col-md-3 text-center">
        <h4 class="text-white text-center">DEK-C PHONE SHOP</h4>
        <p class="text-light" class="text-light">Your one-stop shop for the latest smartphones and accessories</p>
    </div>
    <div class="col-md-3 text-light">
        <h4 class="text-white">QUICK LINKS</h4>
        <a href="#"  class="text-light">Home</a> <br>
        <a href="#"  class="text-light">Products</a> <br>
        <a href="#"  class="text-light">About Us</a> <br>
        <a href="#"  class="text-light">Contact</a> <br>



        
    </div>
    <div class="col-md-3 ">
        <h4 class="text-light">CONTACT US</h4>
        <p class="text-light">Email: support@vv.com</p>
        <p class="text-light">Phone: +885(123)123-123</p>
        <p class="text-light">Address: 124, Kenya lane 3, street 101</p>
    </div>
    <div class="col-md-3">
        <h4 class="text-light">FOLLOW US</h4>
        <a href=""><img src="../static/images/x.png" alt="twitter" width="40", height="30"></a>
        <a href=""><img src="../static/images/in.png" alt="instagram" width="40", height="30"></a>
        <a href=""><img src="../static/images/fb.png" alt="facebook" width="40", height="30"></a>
    </div>

    <hr class="m-5" style="height: 10px;color: white;">
    <p class="text-light text-center">&copy; All Rights reserved | <strong>Privacy Policy</strong></p>
    
</section>